@import "tailwindcss";

:root {
  font-family: "Montserrat", Arial, sans-serif;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-content {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 500;
}
.custom-table .ant-table-thead > tr > th {
  background-color: #ffffff !important;
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 500;
  font-size: 10px;
  border: none;
  padding-bottom: 0;
}

.custom-table .ant-table-thead > tr > th:not(:last-child)::before {
  display: none !important;
}

.custom-table .ant-table-tbody > tr > td {
  border: none !important;
}

.ant-tabs-ink-bar {
  height: 4px !important;
  background-color: #1677ff !important;
  border-radius: 4px;
}
